.header {
  width: 100%;
  height: 412px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.header-box {
  position: absolute;
  text-align: center;
  background-color: #04004f47;
  padding: 3rem 4rem
}
.header-h{
  font-family: 'Playfair Display', serif;
    font-size: 42px;
}

.header-p{
    text-align: left !important;
}


.btn-header {
   margin: 10px;
   padding: 11px 30px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px rgb(66, 41, 41);
   border-radius: 1.5rem;
   border: none;
   background-image: linear-gradient( to right, #918380 0%, #d58b20 51%, #99f600 100%);
 }

 .btn-header:hover {
  cursor: pointer;
   text-decoration: none;
   box-shadow: 0 0 20px #eee;
 }
 .btn-header:focus {
  
     text-decoration: none;
     box-shadow: 0 0 20px #eee;
   }