.home-container {
  width: 100%;
  max-width: 1000px;
  margin: 5em auto;
}

.btn-home {
  margin: 2em auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 1.5rem;
  border: 1px solid #000;
  font-weight: 700;
  background-color: #fff;
  padding: 12px 34px;
}
.btn-home:hover {
  background-color: black;
  color: #fff;
  cursor: pointer;
}
.home-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 100%;
}
.col-6 {
  width: 43%;
  background-color: #fff;
  text-align: center;
  padding-top: 2.5rem;
  border-radius: 9px;
}
.card-item {
  padding: 0 2.5rem 0 2.5rem;
}
