.home-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.btn-home {
  margin: 2rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 1.5rem;
  border: 1px solid #000;
  font-weight: 700;
  background-color: #fff;
  padding: 12px 34px;
}
.btn-home:hover {
  background-color: black;
  color: #fff;
  cursor: pointer;
}
.home-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  flex-shrink: 0;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.col {
  margin-right: 2.5rem;
}
.col-6 {
  text-align: center;
}

.col,
.col-6 {
  flex: 0 0 auto;
  width: 45%;
  background-color: #fff;
  text-align: center;
  padding-top: 2.5rem;
  border-radius: 9px;
}
.card-item {
  padding: 0 2.5rem 0 2.5rem;
}
