.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: #fff;
  color: #000 !important;
}

.navbar-links-1 {
  display: flex;
  justify-content: space-evenly;
align-items: center;
  list-style: none;
  width: 55%;
  color: #9e9aa7;
  font-size: 1.3rem;
  list-style: none;

}
.navbar-links-2{
  display: flex;
  justify-content: space-evenly;
align-items: center;
list-style: none;
  width: 25%;
  color: #9e9aa7;
  font-size: 1.3rem;
  list-style: none;
}

.product,
.collection,
.gifts,
.our-magazine,
.signup,
.login,
.search {
  text-decoration: none;
  cursor: pointer;
  font-size: 0.95rem;
}
.product {
color: #000;
}


.signup {
  border: none;
  background-image: linear-gradient(
    to right,
    #d6c0bb 0%,
    #edbb72 51%,
    #97ef05 100%
  );
  text-transform: uppercase;
  border-radius: 1.5rem;
  color: #fff !important;
padding: 0.45em 1.5em;
}

.dropdown-menu{
  display: block;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  width: 50px;
  padding: 1em auto;
}
